/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
}

/* BODY APP */
body {
    background-color: #f5f5f5;
    min-height: 100vh;
}

/* HEADER */
.app-header {
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    position: sticky;
    top: 0;
}

.app-header h2 {
    font-size: 0.9rem;
    color: #666;
}

#balance {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

/* LISTA TRANSACCIONES */
.transactions {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.empty {
    text-align: center;
    color: #999;
    margin-top: 2rem;
}

/* TRANSACCIÓN */
.transaction {
    background-color: #fff;
    padding: 0.75rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.transaction.spent {
    border-left: 4px solid #e11d48;
}

.transaction.deposit {
    border-left: 4px solid #16a34a;
}

/* BOTÓN + */
#button {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;

    width: 55px;
    height: 55px;
    border-radius: 50%;

    background-color: #30ba2d;
    color: #ffffff;

    border: 1px solid #e5e5e5;
    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


/* MODAL */
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: flex-end;
}

.modal.active {
    display: flex;
}

/* FORM */
#expense-form {
    background-color: #ffffff;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 16px 16px 0 0;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

#expense-form input,
#expense-form select {
    padding: 0.6rem;
    border-radius: 8px;
    border: 1px solid #ccc;
}

#buttonSave {
    background-color: #111;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 8px;
}
